body {
    font: normal 12px sans-serif;
}

input {
    /* Prevent Safari auto-zoom */
    font-size: 16px;
    width: 50px;
}

select {
    /* Prevent Safari auto-zoom */
    font-size: 16px;
}

.MedianBarGraph {
    display: flex;
    font: icon;
    font-size: small;
    height: 150px;
}

.MedianBarGraph-barBox {
    border-bottom: .25ex solid silver;
    display: flex;
    flex-direction: column;
    width: 35px;
}

.MedianBarGraph-factor {
    font-size: x-small;
    text-align: center;
}

.MedianBarGraph-barArea {
    align-items: flex-end;
    display: flex;
    flex: 1;
    padding: 0 .5ex 0;
}

.MedianBarGraph-barArea:hover {
    background: rgb(234, 234, 234);
    cursor: pointer;
}

.MedianBarGraph-bar {
    align-items: flex-end;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
}

.MedianBarGraph.animated .MedianBarGraph-bar {
    animation: 1s ease-in rise;
}

@keyframes rise {
    0% {
        height: 0;
    }
    100% {
        height: calc(auto);
    }
}

.MedianBarGraph-barSuccess {
    background: rgba(16, 124, 16, .75);
    text-shadow: 0 0 3px rgba(16, 124, 16, .75), 0 0 2px rgba(16, 124, 16, .75), 0 0 1px rgba(16, 124, 16, .75);
}

.MedianBarGraph-barError {
    background: rgba(218, 10, 0, .75);
    text-shadow: 0 0 3px rgba(218, 10, 0, .75), 0 0 2px rgba(218, 10, 0, .75), 0 0 1px rgba(218, 10, 0, .75);
}

.MedianBarGraph-barProgress {
    background: rgba(0, 0, 0, .75);
    text-shadow: 0 0 3px rgba(0, 0, 0, .75), 0 0 2px rgba(0, 0, 0, .75), 0 0 1px rgba(0, 0, 0, .75);
}
